
@font-face {font-family: "iconfont";
  src: url('../iconfont/iconfont.eot?t=1491307866753'); /* IE9*/
  src: url('../iconfont/iconfont.eot?t=1491307866753#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../iconfont/iconfont.woff?t=1491307866753') format('woff'), /* chrome, firefox */
  url('../iconfont/iconfont.ttf?t=1491307866753') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('../iconfont/iconfont.svg?t=1491307866753#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.gouwuche:before { content: "\e600"; font-size: 12px;color:#C40000;}

.shouji:before { content: "\e625"; font-size: 12px;color:#C40000;}

.mulu:before { content: "\e61a"; font-size: 12px;color:#C40000;}

.qintao19:before { content: "\e603"; }

.gouwuche1:before { content: "\e664"; }

.jiaju:before { content: "\e638"; }

.goods:before { content: "\e60d"; }

.mulu1:before { content: "\e616"; font-size: 16px;color:#fff;}

.guoji:before { content: "\e660"; }

.yiyao:before { content: "\e64b"; }

.xuezi:before { content: "\e60f"; }

.zuanshi:before { content: "\e61b"; }

.shuiguo:before { content: "\e633"; }

.kouhong:before { content: "\e618"; }

.nanzhuang:before { content: "\e605"; }

.tushu:before { content: "\e626"; }

.skirt:before { content: "\e696"; }

.qiche:before { content: "\e73c"; }

.jiajua:before { content: "\e650"; }

.aixin:before { content: "\e601"; font-size: 12px;color:#C40000;}

.jiadian:before { content: "\e619"; }

.chuju:before { content: "\e665"; }

.shuma:before { content: "\e61c"; }

