/*
* @Author: Administrator
* @Date:   2017-04-29 13:32:37
* @Last Modified by:   Administrator
* @Last Modified time: 2017-04-29 16:08:36
*/
.container-fiuld{
	width: 100%;
	height: auto;
}
.container{
	margin: 0 auto;
	padding: 0 20px;
}
